figure {
    height: 30vh;
    width: calc(12rem + 2vw);
    min-height: 200px;
    padding: 1vh;
    cursor: pointer;
} 
figure img {
    width: calc(100% - 2rem);
    height: 16vh !important;
    min-height: 100px;
} 
.page-controls {
    padding: 2rem 5rem 1rem 5rem;
    display: flex;
    justify-content: space-between;
}